/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB           &kp DE_Q          &kp DE_W  &kp DE_E      &kp DE_R  &kp DE_T        &kp DE_Z    &kp DE_U  &kp DE_I       &kp DE_O      &kp DE_SLASH   &kp DELETE
&kp LEFT_SHIFT    &kp DE_A          &kp DE_S  &kp DE_D      &kp DE_F  &kp DE_G        &kp DE_H    &kp DE_J  &kp DE_K       &kp DE_L      &kp DE_P       &kp DE_SEMICOLON
&kp LEFT_CONTROL  &kp DE_AMPERSAND  &kp DE_Y  &kp DE_X      &kp DE_C  &kp DE_V        &kp DE_B    &kp DE_N  &kp DE_M       &kp DE_COMMA  &kp DE_PERIOD  &kp ESCAPE
                                              &kp LEFT_ALT  &mo 2     &kp DE_SPACE    &kp RETURN  &mo 1     &kp BACKSPACE
            >;
        };

        sign_layer {
            display-name = "sign";
            bindings = <
&kp TAB           &kp PIPE  &kp UP_ARROW    &kp UNDERSCORE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp DOLLAR  &kp DOUBLE_QUOTES  &kp EXCLAMATION  &kp CARET  &kp LESS_THAN  &kp DEL
&kp LEFT_SHIFT    &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp LEFT    &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT  &trans         &kp C_AC_HOME
&kp LEFT_CONTROL  &kp HASH  &kp PERCENT     &kp AT_SIGN      &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp TILDE   &kp SQT            &kp QUESTION     &kp GRAVE  &kp BACKSLASH  &kp ESCAPE
                                            &kp LGUI         &trans                &kp SPACE                &kp RET     &trans             &kp BACKSPACE
            >;
        };

        num_layer {
            bindings = <
&kp BSPC  &kp DE_N1  &kp DE_N2  &kp N3     &kp DE_PLUS     &kp DE_MINUS    &kp C_VOLUME_UP    &kp F1  &kp F2   &kp F3   &kp F4   &kp PG_UP
&kp DOT   &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp DE_STAR     &kp DE_SLASH    &kp C_VOLUME_DOWN  &kp F5  &kp F6   &kp F7   &kp F8   &kp PG_DN
&kp N0    &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_PERCENT  &kp DE_EQUAL    &kp K_MUTE         &kp F9  &kp F10  &kp F11  &kp F12  &kp END
                                &kp RET    &trans          &trans          &trans             &trans  &trans
            >;
        };
    };
};
