/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        ae {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <13 3>;
        };

        ue {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <7 3>;
        };

        oe {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <9 3>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <12 38>;
        };
    };

    behaviors {
        TOGGLE_CAPS: TOGGLE_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "TOGGLE_CAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Default {
            bindings = <
&kp TAB           &kp DE_Q      &kp DE_W  &kp DE_E          &kp DE_R  &kp DE_T     &kp DE_Z       &kp DE_U  &kp DE_I       &kp DE_O      &kp DE_P       &kp DELETE
&TOGGLE_CAPS      &kp DE_A      &kp DE_S  &kp DE_D          &kp DE_F  &kp DE_G     &kp DE_H       &kp DE_J  &kp DE_K       &kp DE_L      &kp DE_HASH    &kp ENTER
&kp LEFT_COMMAND  &kp LEFT_ALT  &kp DE_Y  &kp DE_X          &kp DE_C  &kp DE_V     &kp DE_B       &kp DE_N  &kp DE_M       &kp DE_COMMA  &kp DE_PERIOD  &kp RIGHT_SHIFT
                                          &kp LEFT_CONTROL  &mo 1     &kp SPACE    &kp BACKSPACE  &mo 2     &kp RIGHT_ALT
            >;
        };

        Layer1 {
            bindings = <
&kp ESCAPE  &kp N1                   &kp N2                    &kp N3               &kp N4              &kp N5                  &kp N6        &kp N7        &kp N8       &kp N9        &kp N0         &trans
&trans      &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &kp DE_LEFT_BRACKET  &kp RIGHT_BRACKET   &kp DE_DOUBLE_QUOTES    &kp DE_EQUAL  &kp LEFT      &kp DOWN     &kp UP        &kp RIGHT      &trans
&trans      &kp DE_LESS_THAN         &kp DE_GREATER_THAN       &kp DE_LEFT_BRACE    &kp DE_RIGHT_BRACE  &kp DE_SQT              &kp PLUS      &kp DE_MINUS  &kp DE_STAR  &kp DE_SLASH  &kp BACKSLASH  &trans
                                                               &trans               &trans              &trans                  &trans        &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
