/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Umlaut_AE {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <13 3>;
        };

        Umlaut_UE {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <2 7>;
        };

        Umlaut_OE {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <9 3>;
        };
    };

    behaviors {
        TOGGLE_CONTROL: TOGGLE_CONTROL {
            compatible = "zmk,behavior-tap-dance";
            label = "TOGGLE_CONTROL";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL>, <&kt LEFT_CONTROL>;
        };

        TOGGLE_CAPS: TOGGLE_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "TOGGLE_CAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };

        LAYER_TO_COMMAND: LAYER_TO_COMMAND {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TO_COMMAND";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&kp LEFT_COMMAND>;
        };

        COMMAND_ALTERNATIVE: COMMAND_ALTERNATIVE {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMAND_ALTERNATIVE";
            #binding-cells = <0>;
            bindings = <&kp DE_LEFT_BRACE>, <&kp LEFT_COMMAND>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            display-name = "Base";
            bindings = <
&kp TAB           &kp DE_Q   &kp DE_W  &kp DE_E  &kp DE_R           &kp DE_T        &kp DE_Z    &kp DE_U       &kp DE_I       &kp DE_O      &kp DE_PLUS    &kp DELETE
&kp LEFT_SHIFT    &kp DE_A   &kp DE_S  &kp DE_D  &kp DE_F           &kp DE_G        &kp DE_H    &kp DE_J       &kp DE_K       &kp DE_L      &kp DE_P       &kp LEFT_COMMAND
&kp LEFT_CONTROL  &kp DE_LT  &kp DE_Y  &kp DE_X  &kp DE_C           &kp DE_V        &kp DE_B    &kp DE_N       &kp DE_M       &kp DE_COMMA  &kp DE_PERIOD  &kp ESCAPE
                                       &mo 1     &LAYER_TO_COMMAND  &kp DE_SPACE    &kp RETURN  &kp RIGHT_ALT  &kp BACKSPACE
            >;
        };

        NUMBER {
            bindings = <
&trans  &kp DE_N1     &kp N2       &kp DE_N3    &kp DE_N4     &kp DE_N5       &kp F1  &kp F2   &kp F3   &kp F4   &kp END   &trans
&trans  &kp N6        &kp DE_N7    &kp N8       &kp N9        &kp N0          &kp F5  &kp F6   &kp F7   &kp F8   &kp HOME  &trans
&trans  &kp DE_MINUS  &kp DE_PLUS  &kp DE_STAR  &kp DE_SLASH  &kp DE_EQUAL    &kp F9  &kp F10  &kp F11  &kp F12  &kp INS   &trans
                                   &trans       &trans        &trans          &trans  &trans   &trans
            >;
        };

        SPECIAL {
            bindings = <
&trans           &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &kp ENTER          &kp UP       &kp BSPC            &kp DE_SQT   &kp DE_DOUBLE_QUOTES  &kp DE_LT      &kp DE_GT     &kp PAGE_UP       &trans
&TOGGLE_CAPS     &kp DE_LEFT_BRACKET      &kp DE_RIGHT_BRACKET      &kp LEFT           &kp DOWN     &kp RIGHT           &kp DE_EXCL  &kp QMARK             &kp DE_DOLLAR  &kp DE_EURO   &kp DE_AMPERSAND  &trans
&TOGGLE_CONTROL  &COMMAND_ALTERNATIVE     &kp DE_RIGHT_BRACE        &kp DE_UNDERSCORE  &kp DE_PIPE  &kp DE_BACKSLASH    &kp DE_HASH  &kp DE_PERCENT        &kp DE_TILDE   &kp DE_CARET  &kp PG_DN         &trans
                                                                    &trans             &trans       &trans              &trans       &trans                &trans
            >;
        };
    };
};
